@media only screen and (max-width:991px)
{
    /* custom css  */
    .text-content
    {
        width: 100%;
    }

    /* navbar brand  */
    .navigation-wrap
    {
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .navbar-brand img
    {
        height: 3.825rem;
    }

    .navigation-wrap .nav-link
    {
        line-height:1.875rem ;
    }

    /* Banner design  */

    .top-banner
    {
        padding:9.375rem 0;
    }

    /* carousel design    */

}


@media only screen and (max-width:767px)
{

    /* custom css  */
    h1
    {
        font-size: 2.5rem;
    }

    h2
    {
        font-size: 2rem;
        line-height: 2.0625rem;
    }


    /* top banner  */
    .top-banner
    {
        padding: 10.875rem 0 9.375rem;
    }


    /* story section    */
    .story-section
    {
        height: auto;
        padding: 3rem 0;
    }

    /* carousel  design    */
    .testimonial-section .carousel-item
    {
        padding: 11rem 3.125rem;
    }


    /* newsletter  */
    .newsletter
    {
        width: 75%;
    }

    .newsletter .main-btn
    {
        width: 100%;
        margin-top: 1rem;
    }

    /* Footer link    */
    .footer .footer-link , .footer a i
    {
        padding:  0 0.7rem;
    }
}


@media only screen and (max-width:330px)
{

   /* carousel  design    */
    .testimonial-section .carousel-item
    {
        padding: 13rem 3.125rem;
    }
}